.elementor-8 .elementor-element.elementor-element-a5746ac{text-align:center;}.elementor-8 .elementor-element.elementor-element-b387de8 > .elementor-container{max-width:1303px;}.elementor-8 .elementor-element.elementor-element-4504553 .gallery-item .gallery-caption{text-align:center;}